:root {
  --primary: #2c3e50;
  --secundary: #7f8c8d;
  --tertiary: #3498db;
  --accent: #4ba1db;
  --buttonSecundary: #2ecc71;
  --buttonSecundaryHover: #27ae60;

  --attention: #db3724;
  --attentionHover: #d3493a;

  --text: #888;
  --white: #ffffff;
  --background: linear-gradient(135deg, #f5f7fa, #e4e8ef);
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--background);

  margin: 0;
  padding: 0;

  min-height: 100%;
  height: 100vh;
  width: auto;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 32px;
  color: var(--primary);
}

header p {
  color: var(--secundary);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: var(--white);
  padding: 30px;
  border-radius: 12px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  animation: fadeSlideIn 0.6s ease;
}

.card h2 {
  margin-top: 0;
  color: var(--primary);
}

.drop-area {
  display: block;

  border: 2px dashed var(--tertiary);

  padding: 30px;
  border-radius: 10px;

  cursor: pointer;

  transition: 0.2s;
}

.drop-area:hover {
  background: var(--white);
}

.drop-area p {
  margin: 0;
  font-weight: bold;
}

.drop-area span {
  font-size: 13px;
  color: var(--text);
}

.drop-area input {
  display: none;
}

button {
  margin-top: 15px;

  background: var(--tertiary);
  border: none;

  padding: 12px 20px;

  border-radius: 8px;

  color: var(--white);
  font-size: 14px;

  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  background: var(--accent);
  transform: translateY(-1px);
}

.button-secondary {
  background: var(--buttonSecundary);
}

.button-secondary:hover {
  background: var(--buttonSecundaryHover);
}

ul {
  list-style: none;
  padding: 0;

  margin-top: 20px;
}

li {
  display: flex;

  justify-content: space-between;

  padding: 10px;

  border-bottom: 1px solid var(--white);
  animation: fadeSlideIn 0.3s ease;
}

li a {
  text-decoration: none;

  color: var(--tertiary);
  font-weight: bold;
}

#selectedFiles {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

#selectedFiles li {
  padding: 6px;
  font-size: 14px;
  color: var(--primary);
}

.drop-area.drag {
  background: var(--white);
  border-color: var(--tertiary);

  transform: scale(1.02);
}

.file-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.file-actions button {
  background: var(--attention);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-actions button:hover {
  background: var(--attentionHover);
  transform: scale(1.05);
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
